{{!-- here is what we are saying email is, that in the next level up we define as credientail.email so we can pass it as an ajax call --}}

<label for="email">Email</label>
{{input type="email"
        id="email"
        placeholder="Email"
        value=email}}
