<div class="container">
<header><h1> Haiku You </h1></header>
<div class='body'>
{{my-application signOut="signOut"}}
</div>
<div class="clearfix"></div>
<footer>MaggiCorp &copy; 2017</footer>
</div>
