<div class='index'>
  <h3>What is a Haiku?</h3>
  <p>
  A traditional Japanese haiku is a three-line poem with seventeen syllables, written in a 5/7/5 syllable count. Often focusing on images from nature, haiku emphasizes simplicity, intensity, and directness of expression.
</p>
<p>
  Haiku began in thirteenth-century Japan as the opening phrase of renga, an oral poem, generally 100 stanzas long, which was also composed syllabically. The much shorter haiku broke away from renga in the sixteenth-century, and was mastered a century later by Matsuo Basho, who wrote this classic haiku:
</p>
<div>
    <div>   An old pond! </div>
    <div>   A frog jumps in— </div>
    <div>   the sound of water. </div>
    <br>
  </div>
<p>
    Haiku was traditionally written in the present tense and focused on associations between images. There was a pause at the end of the first or second line, and a “season word," or kigo, specified the time of year.
</p>
<p>
  As the form has evolved, many of these rules—including the 5/7/5 practice—have been routinely broken. However, the philosophy of haiku has been preserved: the focus on a brief moment in time; a use of provocative, colorful images; an ability to be read in one breath; and a sense of sudden enlightenment and illumination.
</p>

<h3> Now you can write a Haiku, too. </h3>

<p> text from: <a target="_blank" href="https://www.poets.org/poetsorg/text/haiku-poetic-form"> https://www.poets.org/poetsorg/text/haiku-poetic-form </a></p>
</div>
